/*------- External Imports -------*/
@import "normalize";

/*------- Variables -------*/
@import "variables";

/* ------- Colors ------- */
@import "colors";

/* ------- Fonts ------- */
@import "fonts";

/* ------- General Styles -------*/
*{
    //box-sizing: border-box;
}

body{
    font-size: $base-text-size;
    font-family: 'Open Sans', sans-serif;
    color: $text;
    background-color: $background-dark;
    line-height: 1.5rem;
}

h1, h2, h3{
    margin: 2rem 0;
}

@import "about";
@import "social";
@import "movies";
